<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <H1 th:text="${title}"></H1>
    <h2 th:text="${user.name}"></h2>
    <h2 th:text="${user.lastName}"></h2>
    <h2 th:if="${user.email != null}" th:text="${user.email}"></h2>
    <h2 th:if="${user.email == null}" th:text="${'Debe registrar su email'}"></h2>
</body>
</html>